@font-face {
    font-family: roboto-md;
    src: url(../../assets/fonts/Roboto-Medium.ttf);
}
@font-face {
    font-family: roboto-bold;
    src: url(../../assets/fonts/Roboto-Bold.ttf);
}
*{
    font-family:  roboto-md;
}
span {
    /*border: 1px solid;*/
    align-self: center;
    height: 70px;
    cursor: pointer;
}
.sprite{
    background-image: url(../../assets/images/sprite.png);
    background-repeat: no-repeat;
}

span.menu {
    flex: 0 0 31px;
    margin-left: 2%;
    background-position: 0 0;
    height: 25px;
    /*border: 1px solid;*/
}
span.menu:after {
    content: "";
    margin-left: -13px;
    display: inline-block;
    line-height: 2;
    padding: 11px 6px;
    background-image: url(../../assets/svg/arrow.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 92%;
}
span.search {
    flex: 0 0 24px;
    margin-left: 2%;
    background-image: url(../../assets/svg/search.svg); 
    background-position: center;
    height: 25px;

}

span.add-project {
    
    flex: 0 1 135px;
    margin-left: auto;
    border-radius: 20px;
    margin-right: 3%;
    text-align: center;
    background-color: #5584ff;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;

}
span.add-project p {
    font-family: roboto-bold;
    color: white;
 
}
span.plus {
    width: 25px;
    height: 19px;
    /*background-image: url(../../assets/svg/plus.svg);*/
    background-position: center;
    margin: 0 4% 0 -7%;
    background-position: -32px -2px;
}

span.messeges {
    flex: 0 0 35px;
    margin-right: 2%;
    /*background-image: url(../../assets/svg/msg.svg);*/
    background-position: -61px 0;
    height: 28px;
    
}

span.notifications { 
    flex: 0 0 28px;
    margin-right: 3%;
    position: relative;
    display: flex;
    
}
span.bell-icon {
    background-position: -105px 0;
    height: 28px;
    /*border: 1px solid;*/
    width: 100%;
}
span.bell-icon:after {
    content: "3";
    border: 2px solid white;
    position: absolute;
    top: 14px;
    right: -4px;
    padding: 1px 4px;
    border-radius: 50%;
    color: white;
    background-color: #5584ff;
    font-size: 12px;
}
span.profile-area {
    flex: 0 0 75px;
    margin-right: 2%;
    display: flex;
    align-items: center;
    justify-content: flex-start;

}
span.profile-pic {
    flex: 0 0 60px;
    background-image: url(../../assets/images/profile.png);
    background-repeat: no-repeat;
    background-position: center;
}
span.arrow-icon {
    flex: 0 0 10px;
    margin-left: auto;
    background-image: url(../../assets/svg/arrow-down.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 84%;
}