<span class="sprite menu"></span> 
<span class="search"></span>
<span class="add-project"><span class="sprite plus"></span><p>Add project</p></span>
<span class="sprite messeges"></span>
<span class="notifications"><span class="sprite bell-icon"></span> </span>
<span class="profile-area"><span class="profile-pic"></span><span class="arrow-icon"></span></span>
