.container {
    display: flex;
    flex-flow: row wrap;
   /* height: 500px;*/
    width: 100%;
   
}
app-sidebar {
    align-items: stretch;
    flex: 1 0 auto;
    background-color: #0e1a35;
    color: white;
}

.right-side {
    display: flex;
    flex-flow: column;
    flex: 9 1 auto; 
}
app-header {
    border: 1px solid rgba(132, 146, 175, 0.3);
    display: flex; 
    align-items: flex-start;
    flex: 0.5 0 auto;
    flex-flow: row;
    border-top: none; 
}
app-mainview {
    flex: 6 0 auto;
    background-color: #f6f7fa;
}