@font-face {
    font-family: roboto-md;
    src: url(../../assets/fonts/Roboto-Medium.ttf);
}
*{
    font-family:  roboto-md;
}

.sprite{
    background-image: url(../../assets/images/sprite.png);
    background-repeat: no-repeat;
}

div#icon-0 {
    background-position: 0px -29px;

}
div#icon-1 {
    background-position: -31px -29px;
}
div#icon-2 {
    background-position: -62px -29px;
}
div#icon-3 {
    background-position: -93px -29px;
}
div#icon-4 {
    background-position: -122px -29px;
}
div#icon-5 {
    background-position: -152px -29px;
}
.logo {
    height: 70px;
    background-image: url(../../assets/images/logo.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 80%;
}
.nav-item {
    border-top: 1px solid #0b0a10;
    height: 98px;
    display: flex;
    align-items: center;
}
.nav-item:last-child {
    border-bottom: 1px solid #0b0a10;
}
.nav-item.active {
    background-color: #122143;
}   

a.nav-link-area {
    height: 100%;
    display: flex;
    align-items: center;
    flex: 0 1 83%;
    margin-left: 10%;
    cursor: pointer;
    justify-content: flex-start;
}

.highlight {
    
    height: 100%;
    flex: 0 1 10px;
}
.nav-item.active .highlight {
    background-color: #5584ff;
}
.nav-item-icon {
    flex: 0 1 27px;
    height: 25px;
    margin-right: 8%;
}
a.nav-link-area p {
    flex: 0 1 25px;
   
}
