<div class="logo"></div>   
<div class="nav-area">
  <div  [attr.data-selected]="false" 
       (click)="hightlightStatus[i]=!hightlightStatus[i]" 
       [class.active]="hightlightStatus[i]"
       *ngFor="let item of items, let i = index , let f = first "  class="nav-item" [class.active]="f">
    <div class="highlight"></div> 
    <a class="nav-link-area">
    <div class="sprite nav-item-icon"  id="icon-{{i}}"></div>
    <p>{{item}}</p>
  </a>
  
  </div>
</div>