@font-face {
    font-family: roboto-md;
    src: url(../../assets/fonts/Roboto-Medium.ttf);
}

.flex-main-container {
    display: flex;
    flex-flow: row wrap;
    flex-flow: column nowrap;
}

p.name {
    font-size: 48px;
    margin: 25px 0 0 20px;
    font-family: roboto-md;
}

.flex-main-container > div {
    height: 460px;
    display: flex;
    flex-flow: row nowrap;
    margin: 20px 0;
    
}
.flex-main-container > div > div {
    border: 1px solid rgba(132, 146, 175, 0.3);
    margin: 0 20px;
    background-color:white; 
}
.sales {
   flex: 2 0 auto;
}
.reports {
    flex: 3 0 auto;
    
}
.tasks {
    flex: 1 0 auto;
}
.messages {
    flex: 1 0 auto;
}
.activity {
    flex: 1 0 auto;
}