<p class="name">  Hello {{name}}!</p>
<div class="flex-main-container">
  <div class="first-line">
    <div class="sales"></div>
    <div class="reports"></div>
  </div>
  <div class="second-line">  
    <div class="tasks"></div>
    <div class="messages"></div>
    <div class="activity"></div>
  </div>
</div>

